<ion-view view-title="Insult">
  <ion-content class="center">
    <button class="button button-large button-royal" ng-click="insult()">
      Tap for an insult
    </button>
  </ion-content>
</ion-view>
