<ion-view view-title="Compliment">
  <ion-content class="center">
    <button class="button button-large button-royal" ng-click="compliment()">
      Tap for a compliment
    </button>
  </ion-content>
</ion-view>
