<ion-tabs class="tabs-icon-top tabs-color-active-royal">

  <ion-tab title="Compliment" icon="ion-heart" href="#/tab/compliment">
    <ion-nav-view name="tab-compliment"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Insult" icon="ion-heart-broken" href="#/tab/insult">
    <ion-nav-view name="tab-insult"></ion-nav-view>
  </ion-tab>

</ion-tabs>
